agm-map {
	width:100%;
  height: 100vh;
  
}
/*.formAdd{
	background-color: rgba(0,0,0,0.3);
	position:absolute;
	width:98%;
	height:200px;
	bottom:0px;
	padding:20px;
	box-sizing: border-box;
}*/
.ng-star-inserted{
	font-size:10px
}

.navbar{position:absolute; z-index:99; width:100%; background:#2f63b9}